.span {
    font-size: 20px;
    font-weight: 500;
    color: rgb(43, 39, 39);
    margin-right: 10px;
}
.button {
    color: white;
    background-color: rgb(43, 39, 39);
}
.button:hover {
background-color: brown;
}